# Ignore everything by default
*

# --- EXCEPTIONS ---
# Do NOT ignore the following files and folders:
!/.gitignore
!/.github/
!/Knowledge/

# --- EXCLUSIONS ---
# Explicitly ignore Obsidian's settings folder, even if it's inside a tracked folder
.obsidian/